@use 'shared/colors' as shared-colors;
@import 'styles_material.scss';

html,
body {
  height: 100%;
  box-sizing: border-box;
  background-color: shared-colors.$background-first;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: shared-colors.$font-primary;
}
